@import 'tailwindcss';

@theme {
  --color-customGreen: #f5fff5;
  --color-customLimeAccent: #09e700;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--color-customGreen);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* root at 60% to prevent the layout from creating too much space on larger screens */
#root {
  width: 60%;
  max-height: 100svh;
  margin: auto;
}

body {
  margin: auto;
  display: flex;
  background-color: #f5fff5;
}

/* Display everything below 500px at full width */
@media only screen and (max-width: 500px) {
  #root {
    width: 100%;
  }
}

/* Display everything above 700px at half width */
@media only screen and (min-width: 700px) {
  #root {
    width: 50%;
  }
}

/* Display everything above 1028px at 35% */
@media only screen and (min-width: 1028px) {
  #root {
    width: 35%;
  }
}
