@import 'tailwindcss';

@theme {
  --color-customGreen: #f5fff5;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-height: 100svh;
}

body {
  margin: 0;
  display: flex;

  background-color: #f5fff5;
}
